<div class="card-title justify-center text-3xl text-primary">Add Item</div>
<form [formGroup]="todoform" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">
    <label for="title">Title: </label>
    <input id="title" class="input w-full" type="text" formControlName="title" />
   @if (todoform.controls['title'].invalid && todoform.controls['title'].touched) {
        <div class="validation-hint text-error">* Title is required</div>
   }
    <label for="title" >Description: </label>
    <textarea id="description" class="input w-full" formControlName="description"></textarea>
    @if (todoform.controls['description'].invalid && todoform.controls['description'].touched) {
        <div class="validation-hint text-error">* Description is required</div>
    }
    <div class="flex items-center justify-end gap-3">
        <button class="btn" routerLink="/">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!todoform.valid">Submit</button>
    </div>
    
</form>
